.flickr span {
 font-size: 1.2em;
 color: white;
 line-height: 2em;
 text-align: justify;


}
.flickr p {
  font-size: 1.3em;
  color: white;
  text-align: center;

}
.flickr h2, .flickr h3 {
  margin-top: 2.5em;
  margin-bottom: 2em;
  text-align: center;
}
.flickr h3 {

}
.flickrEx {
  margin-bottom: 3em;
  margin: 0 auto 5em auto;
}

.flickr {
  width: 90%;
  margin: 0 auto;
}


.flickrFlex {

  margin: 2em auto 0 auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;

}
div p {
  margin: auto;

}



ul.buttonFlex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
