@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,700');

div.App, container-fluid, text-center {
 padding: 0;

}

img {
 width: 200px;
 border-radius: 50%;
}
.jumbotron {

  font-family: 'IBM Plex Serif', serif;
  background-image: url("./images/brick.jpg");
  color: white;
  font-weight: bolder;

}
