@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,700');

main.App, container-fluid, text-center {
 padding: 0;

}

body {
  font-family:  'IBM Plex Serif', serif;
}
.jumbotron {
  padding: 5em;
  font-size: 1.5em;
  font-family: 'IBM Plex Serif', serif;
  background: url("./images/Black.jpeg");
  background-size: cover;
  color: white;
  font-weight: bolder;

}



@media(min-width: 700px) {
  .jumbotron {
    padding: 3em;
    font-size: 5em;
  }
}
