span {
  font-size: 2.5em;
  color: #5D5C61;
}
.narrow {
 display: flex;
 flex-direction: column;
 text-align: center;

}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;

}
.burger {
  font-size: 2.5em;
}

ul {
  padding: 0;
}
a {
  font-size: 1.4em;
  cursor: pointer;
  color: #5D5C61;


}
.links {
  display: block;
  text-align: center;
}

.wide {
  display: none;
}

@media (min-width: 720px ) {

a.burger {
  display: none;
}
.narrow {
  display: none;
}
.wide {
  margin-bottom: 0;
  display: flex;
}
.links {
  padding: 0 1em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
}
